/**
 * 1、系统初始化样式
 * 2、基础样式
 * 3、正常情况下的标准样式
 */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --primary-light-2: #66b1ff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

:root {
  --next-color-white: #ffffff;
  --next-bg-main-color: #f8f8f8;
  --next-bg-color: #f5f5ff;
  --next-border-color-light: #f1f2f3;
  --next-color-primary-lighter: #ecf5ff;
  --next-color-success-lighter: #f0f9eb;
  --next-color-warning-lighter: #fdf6ec;
  --next-color-danger-lighter: #fef0f0;
  --next-color-dark-hover: #0000001a;
  --next-color-menu-hover: rgba(0, 0, 0, 0.2);
  --next-color-user-hover: rgba(0, 0, 0, 0.04);
  --next-color-setting-main: #e9eef3;
  --next-color-setting-aside: #d3dce6;
  --next-color-setting-header: #b3c0d1;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
  color: var(--dark);
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

/* 机器数字 */
.digital-number {
  font-family: digital;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.components-container {
  margin: 20px 30px;
}
